<!-- Include Header -->
<%- include('partials/_header') %>
<!-- / Include Header -->

<div class="container">

<h1 class="welcome">Welcome <%= user.name %></h1>

<div class="logout_item">
<a href="/logout" class="logout">Log out</a>
</div>

<%- include('partials/_message') %> 

  <div class="container_todo">
    <form action="/todolist" method="post" class="todo_header">
      <input type="text" name="task" placeholder="My task..." aria-label="my task" autocomplete="off" autofocus />
      <button type="submit">+</button>
    </form>

    <ul>
    <% todos.forEach(details=> { %>
      <% if (details._id==taskId) { %>
        <form action="/todolist/edit/<%=details._id%>" method="post" class="todo_header_edit">
          <input type="text" name="task" value="<%= details.task%>" aria-label="my task" autocomplete="off" autofocus />
          <button type="submit">Update</button>
          <a href="/todolist">Cancel</a>
        </form>
        <% } else { %>
          <li class="todo_list_item">
            <div class="todo_list_item_name"><%= details.task %></div>
              <a href="/todolist/edit/<%= details.id %>" class="edit">Edit</a>
              <a href="/todolist/delete/<%= details.id %>" class="edit">Delete</a>
          </li>
          <% } %>
          <% }) %>
    </ul>
  </div>
</div>
<!-- Include Footer -->
<%- include('partials/_footer') %>
<!-- /Include Footer -->